html{
	box-sizing: border-box;
    font-size: 62.5%;
    background-color: lightblue;
}

*,*:before, :after{
	box-sizing: inherit;
	}

body{
	font-family: 'Lato', sans serif;
	font-size: 2rem;
	line-height: 2;
}

/** Globales **/
img{
	max-width: 100%;
}

.contenedor2{
	width: 95%;
	max-width: 120rem;
	margin: 0 auto;
}

/*Header*/
.site-header{
	background-color: black;
	padding: 1rem 0 3rem 0;
}

.site-header.inicio{
	background-image: url(../imgEscuela/engineers-in-workshop-3862627.jpg);
	background-position: center center;
	background-size: cover;
	height: 100vh;
	min-height: 60rem;
}

.contenido-header{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

@media (min-width: 768px) {
	.contenido-header{
		text-align: left;
	}
}

.contenido-header h1{   /*Manda a traer a h1 del div .contenido-header*/
	color: #000000;
	padding-bottom: 2rem;
	max-width: 60rem;
	line-height: 2;
}

.barra{
	padding-top: 3rem;
}

@media (min-width: 768px) {
	.barra{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
/*Fin header*/

/** Navegacion **/
.navegacion a{
	color: #000000;
	text-decoration: none;
	font-size: 2.2rem;
	display: block;
}

@media (min-width: 768px){
	.navegacion a{
		display: inline-block;
		font-size: 1.8rem;
		margin-right: 2rem;
	}
	.navegacion a:last-of-type{
		margin: 0;
	}
}

.navegacion a:hover{
		color: #12B5A2;
}
/*Fin navegacion*/



.container{
    max-width: 450px;
    height: auto;
    background-color: #EFEFEF;
    margin: 5% auto;    /*Margen del 5% en la parte superior e inferior y automatico a los lados*/
    padding-bottom: 1rem;
}

.form_top{
    width: 100%;
    text-align: center;
    padding: 2rem 0 1rem; /*2 rem parte superior, 0 a los lados, 1 inferior*/
    border-top: solid .4rem #F39B53;
    margin-bottom: 1rem;
}

.form_top h2{
    font-weight: bold;
    color: #CAC8C8;
    font-size: 18px;
}

h2 span{
    color: #F39B53;
}

.form_reg{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn_form{
    display: flex;
    justify-content: space-around; /*Los botones mantienen
    una separacion igual entre el borde y ellos*/
    margin-top: 1rem;
}

.input, .btn_submit, .btn_reset, .mensaje{
    background-color: #EFEFEF;
    padding: .5rem;
    margin: .5rem 0;
    border: none;
    border-bottom: solid #c8c8c8 .2rem;
    transition: all .5s;
}

.input:focus{
    border-bottom: solid #F39B53 .2rem;
}

.btn_submit, .btn_reset{
    width: 40%;
    border-bottom: none;
    background-color: #31b1e5;
    color: white;
}

.btn_reset{
    background-color: #eda135;
}

.btn_submit:hover{      /*Cuand se pase el curssr por encima, el color va a cambiar*/
    background-color: #4c9ed9;
}

.btn_reset:hover{
    background-color: #fa9535;
}
